@import "./palette.scss";

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-body;
  color: $text-basic;
  gap: 40px;

  .avatar img {
    height: 300px;
    width: auto;
  }

  .title {
    font-size: 36px;
    font-weight: 700;
  }

  .text {
    width: 75%;
    text-align: center;
    font-size: 20px;
  }
}
