$text-basic: #907ad6;
$text-hover: #2c2a4a;
$text-active: #dabfff;

$color-main: #2c2a4a;
$color-primary: #4f518c;
$color-body: #280659;
$color-active: #341671;
$color-hover: #422680;
$color-focus: #660f56;
